@import 'theme/conf/mixins';
@import 'theme/conf/colorScheme/mint';
@import 'theme/conf/variables';

.row-padding {
  padding: 5px 0;
}

//http Loading
.http-loading {
  opacity: 0.8;
}

//ui-grid
.grid {
  min-height: 450px;
}

.grid .operation {
  text-align: center;
  line-height: 30px;
}

.grid .ui-grid-top-panel {
  background: #dbdbdb;
}

.grid .ui-grid-cell {
  border-bottom: 1px solid #dde8ef;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
  vertical-align: middle;
}
.ui-grid-footer-cell{
  text-align: right;
}


//查询模块
.search-condition .col-md-3 {
  padding-bottom: 10px;
}

.search-condition .col-md-3 select {
  //min-width: 172px;
}

.search-btn .btn {
  margin-right: 5px;
}

.search-condition .datepicker {
  position: absolute;
  right: 15px;
  top: 0;
  border: 0;
}

.search-condition .form-control {
  width: 150px;
}

//panel 覆盖 clanda问题
.zoomIn {
  -webkit-animation-name: none;
  animation-name: none;
}

//搜索条件点位单元格
.search-condition .col-md-3.placeholder {
  visibility: hidden;
}