.bkm-uib-accordion .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 !important;
}

.bkm-uib-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body,
.bkm-uib-accordion .panel-group .panel .panel-heading {
    border: 0;
}

.bkm-uib-accordion .panel-group .panel-heading+.panel-collapse>.panel-body,
.bkm-uib-accordion .panel-default .bkm-uib-accordion .panel-body,
.bkm-attatches .panel-heading {
    padding: 0 !important;
}

.bkm-uib-accordion .panel-body:before {
    margin-bottom: 5px;
}

.bkm-uib-accordion .panel-heading {
    padding: 0 15px;
    height: 30px;
    box-shadow: none;
}

.bkm-uib-accordion .panel-heading .bkm-panel-title {
    border-bottom: 2px solid #209e91 !important;
    background: #eff0f4;
    padding: 5px;
    font-size: 13px;
}

.bkm-uib-accordion .panel-heading .bkm-panel-title i {
    color: #209e91;
}

.bkm-uib-accordion .bkm-panel-title {
    display: inline-block;
    width: 100%;
}

.bkm-uib-accordion .panel-default>.panel-heading {
    border: 0;
    background: none;
}

.bkm-uib-accordion .panel-group {
    margin: 0;
}

.color-picker-wrapper .input-group {
    margin: 0;
}

.bkm-backdrop {
    background-color: rgba(10, 10, 10, 0.6);
}

.bkm-backdrop .modal-title {
    color: #ffffff;
}

.search-condition .col-md-3 {
    padding-bottom: 10px;
}

.search-condition .col-md-6 {
    padding-bottom: 10px;
}

.search-condition .col-md-6 .col-md-6 {
    padding-bottom: 0px;
}

.search-condition .col-md-4 {
    padding-bottom: 10px;
}

.search-condition .col-md-12 {
    padding-bottom: 10px;
}

form .search-condition .search-btn {
    padding-bottom: 5px;
}

.search-btn .btn {
    margin-left: 5px;
}

ui-view .panel-body .search-condition .form-control {
    width: 150px;
}

.modal-body .panel-body .search-condition div.tree-address,
.modal-body .panel-body .search-condition .form-control {
    width: 67%;
}

.modal-body .panel-body .search-condition div.tree-address .form-control,
.modal-body .panel-body .search-condition .form-control input,
.modal-body .panel-body .search-condition .form-control select,
.modal-body .panel-body .search-condition .form-control .form-control {
    width: 100% !important;
}


/* 搜索条件占位符*/

.modal-body .placeholder {
    visibility: hidden;
    height: 61px;
}


/*以下用于设置附件列表的样式 */

.attaches a:hover {
    text-decoration: underline !important;
}

.upfile {
    text-align: right;
    padding-bottom: 2px;
}

.file-download {
    text-align: center;
    line-height: 30px;
    a {
        cursor: pointer;
        margin-right: 4px;
    }
    a:hover {
        text-decoration: underline !important;
    }
}


/*开始和结束日期样式*/

.bkm-end-date {
    padding-right: 0px;
}


/*设置input输入框组合图标的样式*/

.input-icon {
    position: absolute;
    top: auto;
    bottom: 6px;
    right: 4px;
}

.input-datepicker {
    /* position: absolute;
    top: auto;
    bottom: 6px;
    right: 1px; */
    font-size: 12px;
}

.dropdown .bkm-form-icon.form-control,
.date.bkm-form-icon.form-control {
    border: 0px !important;
}

.date.bkm-form-icon.form-control input {
    border-radius: 0 4px 4px 0;
}

.input-group-addon {
    /* padding: 3px 6px; */
    top: -.5px;
    position: absolute;
    right: 0;
    padding: 5.8px 15px 5.8px 5px;
    line-height: 0;
    display: block;
    text-align: center;
}

.dropdown .input-group {
    margin-bottom: 0px;
    width: inherit;
}

ui-view .panel-body .search-condition angucomplete-alt {
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

ui-view .panel-body .search-condition .angucomplete-dropdown {
    width: 150px;
    text-align: left;
}

.angucomplete-dropdown {
    max-height: 300px;
    overflow-y: scroll;
}

multiSelect>.btn-group .btn {
    border: none;
    padding: 0px;
    padding-left: 8px;
    text-align: left;
    font-size: 13px;
}

multiSelect>.btn-group .btn .caret {
    position: absolute;
    top: 8px;
    right: 3px;
}

multiSelect.form-control {
    padding: 0px;
}

.input-append.input-group span {
    font-size: inherit;
    z-index: 1000;
  }