<div class="modal-content">
    <div class="modal-header" ng-class="ctrl.type.head">
        <i class="modal-icon" ng-class="ctrl.type.icon"></i><span ng-bind="ctrl.title"></span>
    </div>
    <div class="modal-body text-center">
        <span ng-bind="ctrl.message"></span>
    </div>
    <div class="modal-footer text-center">
        <button type="button" class="btn" ng-class="ctrl.type.btn" ng-click="ctrl.cancel()"
                ng-if="ctrl.modalType == 'confirm'">取消
        </button>
        <button type="button" class="btn" ng-class="ctrl.type.btn" ng-click="ctrl.ok()">确定</button>
    </div>
</div>
