<!--这是添加时候的弹出框-->
<div class="widgets">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2><strong ng-bind="ctrl.title"></strong></h2>
            </div>
            <div class="panel-body">
                <div ba-panel
                     ba-panel-title="{{ctrl.model.code}}"
                     ba-panel-class="with-scroll">
                    <div ng-include="ctrl.includeUrl"></div>
                </div>
                <div class="modal-footer">
                    <bkm-button ng-click="ctrl.ok()" category="ok" text="提 交"></bkm-button>
                    <bkm-button ng-click="ctrl.cancel()" category="cancel" text="关闭"></bkm-button>
                </div>
            </div>
        </div>
    </div>
</div>